/**Jose-profile web - version 2.17 - index.css - Features:
 * 
 *      --> Migrating languages styles to its own style component.
 *
 *      --> Keeping languages Global Styles.
 *
 * 
 * Notes: All these are clean files in data, directory and 
 * files
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #282466;
  --clr-primary-2: #36328c;
  --clr-primary-3: #4540b3;
  --clr-primary-4: #544dd9;
  /* primary/main color */
  --clr-primary-5: hsl(243, 100%, 68%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(243, 100%, 73%);
  --clr-primary-7: hsl(243, 100%, 77%);
  --clr-primary-8: hsl(243, 100%, 82%);
  --clr-primary-9: hsl(244, 100%, 87%);
  --clr-primary-10: hsl(243, 100%, 92%);
  /* profile colors - orange-shades**/
  --clr-primary-11:hsla(22, 98%, 45%, 1);
  --clr-primary-12:hsla(22, 98%, 50%, 1);
  --clr-primary-13:hsla(22, 98%, 60%, 1);
  /* profile colors - blue-shades**/
  --clr-primary-14:hsla(220, 98%, 30%, 1);
  --clr-primary-15:hsla(220, 98%, 45%, 1);
  --clr-primary-16:hsla(220, 98%, 55%, 1);
  --clr-primary-17:hsla(220, 98%, 65%, 1);
  --clr-primary-18:hsla(220, 98%, 75%, 1);
  --clr-primary-19:hsla(220, 98%, 85%, 1);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 2rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;

  /*font size title**/
  --font-size-title: calc( 0.75rem + 2vw);
  --font-size-secondary-title: calc( 0.50rem + 1vw);
  --paragraph-font-size:calc(.7rem + 0.637vw);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: var(--clr-primary-14);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.container{
  display: grid;
    
  grid-template-columns: [container-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content,11rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: 30vh repeat(8, min-content);
  min-height: 100vh;
}


/*header styles - Global start**/
section#header{
  
  background: linear-gradient(var(--clr-primary-15), var(--clr-primary-17));
  border-bottom: 3px solid var(--clr-primary-13);
  background-color: var(--clr-primary-15);
  height: 30vh;  
  grid-column: container-start / container-end;
}

/*header styles - Global end**/

/*intro styles - Global start**/

section#intro{
  display: grid;
  width: 30rem;
  height: fit-content;
  grid-column: center-start / col-end 3;
  grid-template-rows: repeat(2);
}

/*header styles - Global end**/

/*resume styles - Global start**/

/*This section contains the resume components
* as intro, workexperience, skills, and languages**/
section#resume{
  margin: 1rem;
  padding: 1rem;
  display: grid;
  grid-column: container-start / container-end;
}

/*header styles - Global end*/

/*work-experience styles - Global start**/

section#work-experience{
  display: grid;
  grid-column: col-start 4 / col-end 6;
  grid-template-rows: repeat(2);
}

/*work-experience styles - Global end**/

/*skills styles - Global start**/
section#skills{
  display: grid;
  margin-top: 1rem;
  grid-column: col-start 4 / col-end 6;
}

/*skills styles - Global end**/

/*languages styles - Global start**/
section#languages{
  display: grid;
  margin-top: 1rem;
  padding: 1rem;
  grid-column: col-start 4 / col-end 6;
}

/*languages styles - Global end**/

/*footer styles - Global start**/
section#footer{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  
  background: linear-gradient(var(--clr-primary-17), var(--clr-primary-15));
  border-top: 3px solid var(--clr-primary-11);
  background-color: var(--clr-primary-15);
  grid-column: container-start / container-end;
  
  bottom: 0;
}

section#footer div:nth-child(1){
  grid-column: 1 / 2;
}

section#footer div:nth-child(2){
  display: grid;
  grid-column: 3 / 6;
  place-content: center;
}

section#footer div:nth-child(3){
  grid-column: 7 / 9;
}


section#footer > div[class*=third-icons] img {
  width: 5rem;
  height: 5rem;
}

/*footer styles - Global end**/

.button {
  width: 10rem;
  height: 3rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0.25rem;
  color: var(--clr-primary-11);
  border: 1px solid var(--clr-primary-11);
  background-color: var(--clr-grey-10);
  transition-duration: 0.4s;
}

.button:hover {
  background-color: var(--clr-primary-13);
  color: white;
  border-radius: 0.50rem;
}

/*error-page styles - Global start**/

.error-page{
  height: 100vh;
  display: grid;
  place-content: center;
}

.error-page--message > h2{
  color: var(--clr-white);
  text-transform: capitalize;
  font-weight: 500;
  font-size: 2rem;
}

.error-page--message > button{
  margin-top: 2rem;
  margin-left: 4rem;
}

/*error styles - Global end**/


/*github icon styles - Global start**/

svg:hover{
  padding: 0;
  margin: 0;
  background-color: yellow;
  transition-duration: var(--transition);
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 2rem 0.5rem var(--clr-primary-13), -0.5rem -0.5rem 2rem 0.5rem var(--clr-primary-11);
  transform: scale(1.1);
}

/*github icon styles - Global end**/

/*Global Shared styles **/

.intro--title,
.work-experience--roltitle,
.skills--title,
.languages--title,
.header--logo{
  color: var(--clr-primary-13);
  font-weight: 700;
  text-transform: capitalize;
  font-size: var(--font-size-secondary-title);
  
}

.intro--title,
.work-experience--roltitle,
.skills--title,
.languages--title,
.header--title{
  box-shadow: 0px 2px 0px var(--dark-shadow); /* add box shadow */
  text-decoration: underline 4px solid var(--clr-black); /* add underline */
  text-underline-offset: 4px; /* adjust the distance of the underline from the text */
}

section#footer div:nth-child(1),
section#footer div:nth-child(2),
section#footer div:nth-child(3){
  margin: 10px;
}

section#work-experience:hover,
section#skills:hover,
section#languages:hover,
section#intro:hover{
  transform: scale(1.1);
  border-radius: 1.5rem;
  transition-duration: 0.4s;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

section#work-experience,
section#skills,
section#languages{
  width: 40rem;
}

.intro--title,
.intro--para,
.work-experience--roltitle,
.skills--title,
.skills--list,
.languages--list--item,
.languages--title{
  margin: 1rem;
  padding: 1rem;
}

.intro--para,
.work-experience--para,
.skills--list--item,
.languages--list--item{
  font-size: var(--paragraph-font-size);
  line-height: var(--spacing);
}

section#intro,
section#work-experience,
section#skills,
section#languages{
  background-color: var(--clr-grey-10);

}

.intro--para,
.work-experience--para{
  line-height: 1.5rem;
}

@media screen and (max-width: 1144px){
  section#intro{
    width: 10rem;
  }
}

@media screen and (max-width: 900px){
  section#intro{
    margin-bottom: 1rem;
    padding: 1rem;
    grid-column: col-start 4 / col-end 6;
  }
  
  section#work-experience{
    margin-bottom: 1rem;
    padding: 1rem;
  }
  
  section#intro,
  section#work-experience,
  section#skills,
  section#languages{
    width: 20rem;
  }
  
  section#resume{
    justify-content: center;
  }
}

@media screen and (max-width: 600px){
  
}